
$french-lilac: #966b9dff;
$old-rose: #c98686ff;
$mellow-apricot: #f2b880ff;
$seashell: #fff4ecff;
$champagne-pink: #e7cfbcff;

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-link {
    background-color: $seashell;
    padding: 20px;

    &:hover{
        background-color: $mellow-apricot;
    }
}

.active {
    background-color: $mellow-apricot;
}

.page-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
}