.App {
  display: flex;
  justify-content: center;
}
.store-card {
  background-color:#E7E393;
  padding:100px;
  margin: 10px;
  text-align: center;
  font-size: 28px;
  &:hover{
    background-color:#ceca81;
  }
}

.all-stores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
}